---
import Navbar from "../components/Navbar.astro";
import TypeWriting from "../components/TypeWriting.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import myImage from "../img/test2.png";
const title = "Home";
---

<Layout title={title}>
	<Navbar position="fixed" margin="mx-8" title={title}></Navbar>
	<main class="flex items-center">
			<div class=" h-dvh flex flex-col w-full justify-center">
				<TypeWriting/>
				<div class="py-5 ">
					<h1 class="text-7xl md:text-9xl font-extrabold text-center">Welcome</h1>
				</div>
			<div class="flex flex-col pl-2 gap-3 text-xs">
				<a href="" class="flex items-center gap-2 underline decoration-2
				decoration-sky-500">
					<Icon name="social/github"/>
					Github
				</a>
				<a href="" class="flex items-center gap-2 underline decoration-2 
				decoration-sky-500">
					<Icon name="social/instagram"/>
					Instagram
				</a>
			</div>
		</div>
	</main>
</Layout>


