---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
const title = "Projects";
---

<Layout title={title}>
	<Navbar position="fixed" title={title}/>
	<main class="flex items-center h-dvh max-w-xl md:mx-auto mx-8">
		No Projects Yet.
	</main>
</Layout>

