---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { Image } from "astro:assets";
import myImage from "../img/test2.png";
---

<Layout title="Welcome to Astro.">
	<Navbar position="fixed"/>
	<main class="justify-center flex items-center h-dvh">
		No Projects Yet.
	</main>
</Layout>

