---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
const title = "Projects";
---

<Layout title={title}>
	<Navbar position="" title={title}/>
	<main class="justify-center flex items-center h-dvh">
		No Projects Yet.
	</main>
</Layout>

