---

import { Icon } from "astro-icon/components";

---

<div
	id="darkToggle"
	class=" text-[#18181B] 
    dark:text-slate-200 rounded-fullcursor-pointer
    flex items-center justify-center 
    transition-all duration-500 md:static text-2xl group flex-col"
	x-on:click="darkMode = (darkMode == 'dark') ? 'light' : 'dark'"
>
<span class="bg-left-bottom bg-gradient-to-r from-sky-500 to-sky-500 
bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px]
transition-all duration-300">
	<Icon name="sun" x-show.transition="darkMode !== 'dark'"/>
	<Icon name="moon" x-show.transition="darkMode === 'dark'"/>
</span>

</div>



		
<script is:inline>
	if (localStorage.getItem('darkMode') === 'dark') {
		document.querySelector('html').dataset.theme = 'dark'
	}

	if (localStorage.getItem('darkMode') === 'light') {
		document.querySelector('html').dataset.theme = 'light'
	}


	if (!localStorage.getItem('darkMode')) {
		let theme = window.matchMedia('(prefers-color-scheme: dark)')
			? 'dark'
			: 'light'
		localStorage.setItem('darkMode', theme)
	}
</script>

	