---

import { Icon } from "astro-icon/components";

---

<div
	id="darkToggle"
	class=" text-zinc-900 dark:bg-neutral-800 p-1 rounded-sm
    dark:text-neutral-400 cursor-pointer bg-slate-200
    flex items-center justify-center 
    transition-all duration-500 md:static text-2xl group flex-col"
	x-on:click="darkMode = (darkMode == 'dark') ? 'light' : 'dark'"
>
<div class="relative group text-base">
	<Icon name="sun" x-show.transition="darkMode !== 'dark'"/>
	<Icon name="moon" x-show.transition="darkMode === 'dark'"/>
</div>

</div>



		
<script is:inline>
	if (localStorage.getItem('darkMode') === 'dark') {
		document.querySelector('html').dataset.theme = 'dark'
	}
	if (localStorage.getItem('darkMode') === 'light') {
		document.querySelector('html').dataset.theme = 'light'
	}
	if (!localStorage.getItem('darkMode')) {
		let theme = window.matchMedia('(prefers-color-scheme: dark)')
			? 'dark'
			: 'light'
		localStorage.setItem('darkMode', theme)
	}
</script>