---
import { Icon } from "astro-icon/components";
import  RightGrid  from "../components/RightGrid.astro";
import Border from './Border.astro';

---
<div class="card grid grid-cols-6 items-center relative box-shadow-2 rounded-sm">
    <!-- hey -->
    <div class="container-hey
    rounded-sm">
    <span class="px-1 py-2 
    md:py-3 mr-1 border-x-[3px] border-black">
        Hey!
    </span>
    I'm Abyan
    </div>
    <!-- ghost-->
    <div class="ghost w-[15%] md:w-[10%] flex justify-center relative text-xs">
        <Border></Border>
        <Icon name="ghost" class="text-xl md:text-3xl"></Icon>
    </div>
    <!--arrow-->
    <div class="arrow">
        <Icon name="arrow" class="text-4xl"></Icon>
    </div>
    <!-- welcome -->
    <div class="welcome">
        Welcome
    </div>
    <!-- right-side -->
    <RightGrid />
</div>

<style>
    .welcome{
        @apply md:py-10 text-xl md:text-7xl
        xl:text-8xl 2xl:text-9xl font-semibold w-full col-span-4 md:col-span-5
    }
</style>