---
interface props {
    position: string;
}
import { Icon } from "astro-icon/components";
import DarkMode from "../components/DarkMode.astro";

const { position } = Astro.props;
---

<div class:list={["navbar", position]}>
    <div class="logo-nav w-fit">
        Yan
    </div>
    <div class="p-[6px] justify-self-end" x-data="{ isShow: false }">
        <div class="md:hidden flex flex-col gap-1 items-center w-full" 
        x-on:click="isShow = !isShow">
            <span class="dark:bg-slate-200 bg-[#18181B] w-[25px] h-[3px] transition-all origin-bottom-right" 
            x-bind:class="{'rotate-[-30deg]': isShow}"></span>
            <span class="dark:bg-slate-200 bg-[#18181B] w-5 h-[2px] self-end transition-all"
            x-bind:class="{'w-[0px]': isShow}"></span>
            <span class="dark:bg-slate-200 bg-[#18181B] w-[25px] h-[2.5px] transition-all origin-bottom-right"
            x-bind:class="{'rotate-[30deg]': isShow}"></span>
        </div>
        <div class="w-[65%] toggleNavbar gap-4 top-[-100%] 
        transition-all duration-150 z-10" 
            x-bind:class="{'right-[-1px]': isShow, 'right-[-100%]': !isShow}"
        >
            <div class="flex text-xl  md:text-xs flex-col h-full justify-center gap-10 items-center md:flex-row p-2 text-[12px]">
                <a href="/">Home</a>
                <a href="projects">Projects</a>
                <a href="blogs">Blogs</a>
                <DarkMode></DarkMode>
            </div>
        </div>
    </div>
</div>

