---
interface Props {
	text: string;
	href: string;
	bg: string;
}

const { href, text, bg } = Astro.props;
---

<a href={href} class="social-card card box-shadow-2">
    <div 
    class:list={
    [
        "flex items-center justify-center border-black border-r-[3px]", bg
    ]
    }
    >
        <slot></slot>
    </div>    
    <p class="underline-offset-2 decoration-2 p-2 
    underline font-bold text-wrap">{text}</p>
</a>