---
interface Props {
	tags: string[];
    href: string;
}

const { tags,href } = Astro.props;
---

<div class="flex gap-3 flex-wrap mb-4">
    {tags.map((post) => 
        <a href={href} 
        class=" 
        p-1 ">
            #{post}
        </a>
    )}
</div>