---
interface Props {
	tags: string[];
    href: string;
}

const { tags,href } = Astro.props;
---

<div class="flex gap-3 flex-wrap">
    {tags.map((post) => 
        <a href={href} 
        class="underline underline-offset-1 
        p-1 font-bold ">
            #{post}
        </a>
    )}
</div>