---
import { Icon } from "astro-icon/components";
---

<div x-data="{ open: false }" class="flex items-center justify-center w-4 h-4 relative">
    <button 
    x-on:click="open = !open" 
    class="outline outline-offset-2 rounded-full w-full h-full outline-slate-300 ">
    <Icon name="brush"  class="font-bold"    />
    </button>
    <div class="flex gap-4 absolute top-8 dark:bg-white bg-[#18181B] rounded-sm  p-2" 
    x-show="open"
    x-on:click.outside="open = false">
            <button x-on:click="color = '#0ea5e9' " class="bg-sky-500 p-2 outline-sky-500 rounded-full outline outline-offset-2" value="#0ea5e9"></button>
            <button x-on:click="color = '#8b5cf6' " class="bg-purple-500 p-2 outline-purple-500 rounded-full outline outline-offset-2" value="#8b5cf6"></button>
            <button x-on:click="color = '#ec4899' " class="bg-pink-500 p-2 outline-pink-500 rounded-full outline outline-offset-2" value="#ec4899"></button>
    </div>
</div>