---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';
// import { Image } from "astro:assets";
// import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const blogs = await getCollection("blogs");
  return blogs.map((entry) => ({
      params: { slug: entry.slug },
      props: {entry},
  }));
}

const {entry} = Astro.props;
const {Content} = await entry.render()
---

<Layout title={entry.data.title}>
  <main class="main px-10 py-20">
  <div class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-p:text-justify">
    <Content/>
  <a href="/blogs" class="w-fit mt-10 underline decoration-sky-500">Back</a>
  </div>
  </main>
</Layout>