---
import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" 
x-data="{darkMode: localStorage.getItem('darkMode'), color: localStorage.getItem('color')}"
x-init="$watch('color', value => localStorage.setItem('color', value)), $watch( 'darkMode', val => localStorage.setItem('darkMode', val) ) " 

x-bind:data-theme="darkMode"

>

	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/test3.png" />		
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Yan</title>
	<ViewTransitions/>
	</head>
	<body class="dark:bg-[#18181B] dark:text-slate-200 text-[#18181B] ">
        
		<slot />
	</body>
</html>



<style is:global>
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'PlaypenSans';
    src: url('../../public/fonts/PlaypenSans-Bold.woff2') format('woff2');
    font-weight: bolder;
}
@font-face {
    font-family: 'PlaypenSans';
    src: url('../../public/fonts/PlaypenSans-Medium.woff2') format('woff2');
    font-weight: 400;
}

.main{
    @apply max-w-xl md:mx-auto mx-8 
}

.hover-underline-animation {
    @apply absolute w-0 h-[2px] bottom-0 left-0 group-hover:w-full transition-all;
}

body{
    font-family: 'PlaypenSans', cursive;
}

.underline-theme{
    @apply underline;
}

.toggleNavbar{
    @apply md:static md:h-fit md:w-fit
        md:border-0 fixed justify-center 
        top-0 h-dvh z-10 
        dark:bg-[#18181B] bg-white w-full md:bg-inherit 
}

.card{
    @apply border-[3px] border-black bg-white
}


.navbar{
    @apply  w-full left-0
}

.logo-nav{
    @apply flex items-center text-xl 
}

.box-shadow-1{
    box-shadow: 6px 6px;
}
.box-shadow-2{
    box-shadow: 3px 3px;
}
.right-icon{
    @apply text-lg md:text-2xl text-center
}
</style>